__pycache__/difficultlevel.cpython-310.pyc
__pycache__/frequencytools.cpython-310.pyc
__pycache__/remotechineseclient.cpython-310.pyc
__pycache__/frequencytools.cpython-310.pyc
__pycache__/frequencytools.cpython-310.pyc
*.mp3